*.log
*.pdb
*.ilk
*.obj
*.ninja
cmake-build-debug/pp25.exe
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/ShowIncludes/main.c
cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
cmake-build-debug/CMakeFiles/pp25.dir/manifest.res
cmake-build-debug/CMakeFiles/pp25.dir/manifest.rc
cmake-build-debug/CMakeFiles/pp25.dir/intermediate.manifest
cmake-build-debug/CMakeFiles/pp25.dir/embed.manifest
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-428a68177cbe2c69f817.json
cmake-build-debug/.cmake/api/v1/reply/target-pp25-Debug-068027131e2c71eabf0b.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-06-15T13-26-55-0717.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8eb90261cd45e13445f1.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a6936ff0b3e6e05732c0.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-8e8f469d99d3b555feab.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/vcs.xml
.idea/pp25.iml
.idea/modules.xml
.idea/misc.xml
.idea/editor.xml
